/* DIV SPAN */
.green
{
    color:green;
    background:gray;
}

.red {
    color:red;
    background:gray;
}
#title {
    font-size: 40px;
}
.lowercase {
    text-transform: lowercase;
}

div {
    color:red;
    background:grey;
}

span{
    text-transform:uppercase;
}