
div {
    width:150px;
    height: 150px;
   margin: 5px;
}
.one {
    background: linear-gradient(red,green);

}
.two {
    background: linear-gradient(to top, red, green,blue,yellow);
}

.three {
    background: linear-gradient(315deg, red,green);
}

.four {
    background: linear-gradient(to top right, red,green);
}

.five {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9));
}

.six {
    background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.9));
}