/* transform property */

div {
    width:175px;
    height:175px;
    display: inline-block;
}

div:hover {
    background: lawngreen;
}

.one {
    background: blue;
}

.two {
    background: green;
}

.three {
    background: lightgreen;
    transition-property: background;
    transition-duration: 5s
}