/* semantic tags */
.main {
    background:-webkit-gradient(linear,left top, left bottom,from(green),to(red));
    background:-o-linear-gradient(green,red);
    background:linear-gradient(green,red)
    }

h1{
    text-shadow: 10px 7px 1px rgba(255, 150, 150, 1);
}

.box {
    width:200px;
    height:100px;
    background: pink;
    margin:2rem;
    transition: all 0.75s linear;

}

.box:hover {
    -webkit-box-shadow: 40px 46px 50px 45px rgba(201,60,201,0.39);
-moz-box-shadow: 40px 46px 50px 45px rgba(201,60,201,0.39);
box-shadow: 40px 46px 50px 45px rgba(201,60,201,0.39);
}