/* desc... child selectos */
.header h1 {
    color:gold;
}

.header > .lorem100 {
    color:red;
    background: purple;
    border: 5px solid green;
}

.header > h1 {
    color:blue;
}



div h1 {
    color:green;

}

div > h1 {
    color:lightpink;
}

p::firstline {
    font-weight: bold;
}

p::first-letter {
    font-size: 3rem;
}

